#include <stdio.h>

int main ()
{
   char a =  getchar();
   char b =  getchar();
   char c =  getchar();
   char d =  getchar();
   printf("Wpisales znak {%c}{%c}{%c}{%d}" ,   a , b , c, d );
getchar();
getchar();
return 0;
} 
